<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ulpgc.luisbmier.android.cluedolog"
          android:installLocation="preferExternal" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ulpgc.luisbmier.android.cluedolog.controller.ListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ulpgc.luisbmier.android.cluedolog.controller.LogMainActivity"
            android:label="@string/title_activity_log_activity" >
        </activity>
        <activity
            android:name="com.ulpgc.luisbmier.android.cluedolog.controller.LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName="com.ulpgc.luisbmier.android.cluedolog.controller.LogMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ulpgc.luisbmier.android.cluedolog.controller.LogMainActivity" />
        </activity>
    </application>

</manifest>